* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	overflow: visible; /*Was hidden*/
	height: 8vh;
	min-height: 50px;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
	background-color: white;
}

.logo {
	float: left;
	height: 100%;
	width: auto;
	padding: 10px;
}

.separator {
	float:left;
	width: 5px;
	height: 100%;
	padding: 8px 0px;
}

.separator div {
	display: block;
	width: 100%;
	height: 100%;
	background-color: darkgray;
}

.nav_links {
	float: left;
	width: 50vw;
	min-width: 300px;
	height: 100%;
}

.nav_links > li {
	width: 33%;
	min-width: 100px;
	height: 100%;
	float: left;
	list-style: none;
}

.nav_links a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	width: 100%;
	height: 100%;

	color: black;
	font-family: "Arial", sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.nav_links a:hover {
	background-color: lightgrey;
}

.dropdown:hover .dropdown_content {
	display: block;
}

.dropdown_content {
	display: none;
	list-style: none;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.8);
}

.dropdown_content li {
	height: 30px;
	background-color: white;
}

.dropdown_wrapper {
	padding: 0px 10px 10px 10px;
	margin: 0px -10px -10px -10px;
	overflow: hidden;
}

#spacer {
	height: 8vh;
	min-height: 50px;
	width: 100%;
	background-color: white;
}